/**
 * Default styles for <x-gloss>
 */
x-gloss {
    display: inline;
    font-variant: small-caps;
}

x-gloss[title] {
    border-bottom: 1pt dashed transparent;
    cursor: help;
    transition: border-color 350ms ease-in-out;
}

x-gloss[title]:hover {
    border-color: rgba(0, 0, 0, 0.8);
}
