<section>
   <h1> Hindi Relative clauses </h1>
   <dl>
      <dt> Language </dt>
      <dd> Hindi (Indo-Aryan) </dd>
      <dt> Phenomenon </dt>
      <dd> Order of Relative Clause and Noun </dd>
      <dt> Source of Data </dt>
      <dd> Elicited from Karan Aggarwal; Glossed and translated by me (adapted
         from data in Tallerman 2014).
      </dd>
   </dl>
</section>

<section data-suppress="noun clause">
   <h2> Review </h2>

   <div data-gloss="bambara"></div>

   <ul class="questions">
      <li>
         Identify the <strong>head</strong>
         <span data-disclose=noun class="fragment answer roll-in">so</span>
      <li>
         Identify the <strong>relative clause</strong>
         <span data-disclose=clause class="fragment">​</span>
      <li> Is this <strong>head-internal</strong>
         or <strong>head-external</strong>? Why?
         <span class="fragment answer roll-in">head-internal, because the
            head noun phrase is <em>within</em> the relative clause</span>
   </ul>
</section>

<section>
   <h2> Hindi <strong>FACTS</strong> </h2>

   <ul class="typology">
      <li> Hindi is an <strong><a href="http://wals.info/valuesets/81A-hin">SOV</a></strong> language</li>
      <li> Hindi has
         <strong><a href="http://wals.info/valuesets/85A-hin">postpositions</a></strong> </li>
   </ul>

   <p> What type of relative clauses do you expect this language to have? </p>
</section>

<section data-suppress="noun clause">
   <h2> Hindi Relative Clauses! </h2>

   <div data-gloss="hindi_1"></div>

   <ul class="questions">
      <li>
         Identify the <strong>head</strong>
         <span data-disclose=noun class="fragment answer roll-in">banché</span>

      <li>
         Identify the <strong>relative clause</strong>
         <span data-disclose=clause class="fragment roll-in">​</span>
      <li>
         Identify the <strong>grammatical role within the relative
            clause</strong>
         <span class="fragment answer roll-in"> indirect object </span>
      <li> Is this <strong>head-internal</strong>
         or <strong>head-external</strong>? Why?
         <span class="fragment answer roll-in">head-internal, because the
            head noun phrase is <em>within</em> the relative clause</span>

   </ul>
</section>

<section>
   <h2> CHALLENGE ROUND </h2>

   <div data-gloss="hindi_1"></div>
   <div data-gloss="bambara"></div>

   <p> How do the internally-headed relative clauses in Hindi
      <strong>differ</strong> from those in Bambara?
      <span class="frament answer roll-in"> The relative clause is used within
         the matrix clause by a demonstrative that co-references the relative
         clause.</span>
   </p>

   <aside>
      Lila questions: "what's the object of the matrix verb in the Bambara
      (answer: the whole relative clause). What's the subject of the matrix
      verb in Hindi (answer: a demonstrative pronoun that is co-referential
      with the relative clause)."

      In the Barabara example, the argument of the matrix verb is the
      relative as a whole In the case of correlatives, it is a demonstrative
      that correlates/is correferential with the internally headed relative.
   </aside>

</section>

<section>
   <h2> Correlative Clauses </h2>

   <div data-gloss="hindi_2"></div>

   <aside>
      Here's a different Hindi example.
      Here, the head and the demonstrative are highlighted. The demonstrative
      is co-referential with the entire relative clause. That's pretty neat!
   </aside>
</section>

<section>
   <h2> Sources </h2>

   <ul class="sources">
      <li> Sentences elicited from Karan Aggarwal by myself. </li>
      <li>Based on sentences in Tallerman, Maggie.  2014.
         <span class="book-title">Understanding Syntax</span>, 4th edn.
         Routledge. </li>
      <li> Bambara example provided by Lila Daskalaki. </li>
      <li> Consulted typological data on
         <a href="http://wals.info/languoid/lect/wals_code_hin">wals.info</a>. </li>
   </ul>
</section>
