<section>
   <h1> Hindi Relative clauses </h1>
   <dl>
      <dt> Language </dt>
      <dd> Hindi (Indo-Aryan) </dd>
      <dt> Phenomenon </dt>
      <dd> Order of Relative Clause and Noun </dd>
      <dt> Source of Data </dt>
      <dd> Elicited from Karan Aggarwal; Glossed and translated by me </dd>
   </dl>
   <aside class="notes">
      Hindi relative clauses!

      Hindi is an Indo-Aryan language, primarily spoken in India. I elicited
      data from Karan Aggarwal, based on some data in the textbook. (Sidenote:
      its difference with Urdu is mostly political, but they can be seen as
      dialects of the same language).

      Now, let’s talk about relative clauses!
   </aside>
</section>

<section data-suppress="noun clause">
   <h2> Review </h2>

   <div data-gloss="bambara"></div>

   <ul class="questions">
      <li>
         Identify the <strong>head</strong>
         <span data-disclose=noun class="fragment answer roll-in">so</span>
      <li>
         Identify the <strong>relative clause</strong>
         <span data-disclose=clause class="fragment">​</span>
      <li> Is this <strong>head-internal</strong>
         or <strong>head-external</strong>? Why?
         <span class="fragment answer roll-in">head-internal, because the
            head noun phrase is <em>within</em> the relative clause</span>
   </ul>
   <aside class="notes">
      PSYCH! Let's review first.
      
      For this Bambara example, identify the head, the relative clause, and if
      it’s head-internal or head-external.  Recall: it’s head-internal if the
      head resides inside the relative clause. If it’s head-external, the head
      lies outside of the relative clause and (and sometimes leaves a gap in
      the relative clause).
   
   </aside>
</section>

<section>
   <h2> Hindi <strong>FACTS</strong> </h2>

   <ul class="typology">
      <li> Hindi is an <strong><a href="http://wals.info/valuesets/81A-hin">SOV</a></strong> language</li>
      <li> Hindi has
         <strong><a href="http://wals.info/valuesets/85A-hin">postpositions</a></strong> </li>
   </ul>

   <p> What type of relative clauses do you expect this language to have? </p>
   <aside class="notes">
      Before we look at the Hindi data proper, let's reveal a few Hindi FACTS.

      Hindi is an SOV language, with postpositions.

      Knowing this, you can already probably come up with a hypothesis as to
      the type of the relative clauses in this language, but before making any
      conclusions, let's look at the data!
   </aside>
</section>

<section data-suppress="noun clause">
   <h2> Hindi Relative Clauses! </h2>

   <div data-gloss="hindi_cd"></div>

   <ul class="questions">
      <li>
         Identify the <strong>head</strong>
         <span data-disclose=noun class="fragment answer roll-in">CD</span>
      <li>
         Identify the <strong>grammatical role within the relative
            clause</strong>
         <span class="fragment answer roll-in"> subject </span>
      <li>
         Identify the <strong>relative clause</strong>
         <span data-disclose=clause class="fragment roll-in">​</span>
      <li> Is this <strong>head-internal</strong>
         or <strong>head-external</strong>? Why?
         <span class="fragment answer roll-in">head-internal, because the
            head noun phrase is <em>within</em> the relative clause</span>
   </ul>

   <aside class="notes">
      Here's a sentence in Hindi, with a relative clause.

      Just as before, identify the head, the boundaries of the relative clause,
      grammatical role (for bonus points), and finally, determine whether
      we're looking at a head-internal or head-external relative clause.

      Yes, "child" is the head.

      These are the boundaries.

      We're relativizing the indirect object.

      And it's head-internal because the head noun phrase is contained within
      the relative clause.
   </aside>
</section>

<section>
   <h2> CHALLENGE ROUND </h2>

   <div data-gloss="hindi_cd"></div>
   <div data-gloss="bambara"></div>

   <p> How do the internally-headed relative clauses in Hindi
      <strong>differ</strong> from those in Bambara?
      <!--
      <span class="fragment answer roll-in"> The relative clause is used within
         the matrix clause by a demonstrative that co-references the relative
         clause.</span>
      -->
   </p>

   <aside class="notes">
      Challenge round time!

      Here is both the Bambara and Hindi example.

      These two clauses are typologically distinct. My question is how? What
      makes these two head-internal relative clauses different.
      
      Hints: What is the grammatical role of the relative clause in both of
      these sentences? Take note of how the relative noun phrase is used in
      the matrix clause. The literal translation is helpful in this respect.

      The answer?

      It is referenced in the matrix clause by a demonstrative that co-refers
      with the head noun phrase. This is different than in Bambara where the
      whole darn clause is nested within the matrix clause.

      <!--
      Lila questions: "what's the object of the matrix verb in the Bambara
      (answer: the whole relative clause). What's the subject of the matrix
      verb in Hindi (answer: a demonstrative pronoun that is co-referential
      with the relative clause)."

      In the Barabara example, the argument of the matrix verb is the
      relative as a whole In the case of correlatives, it is a demonstrative
      that correlates/is correferential with the internally headed relative.
      -->
   </aside>

</section>

<section>
   <h2> Correlative Clauses </h2>

   <div class="hide-language with-coref" data-gloss="hindi_child"></div>

   <aside class="notes">
      Here's a different Hindi example.

      Here, the head and the demonstrative are highlighted. The demonstrative
      is co-referential with the entire relative clause. That's pretty neat!
   </aside>
</section>

<section>
   <h2> Sources </h2>

   <ul class="sources">
      <li> Sentences elicited from Karan Aggarwal by myself. </li>
      <li>Based on sentences in <cite>Tallerman, Maggie.  2014.
         <span class="book-title">Understanding Syntax</span>, 4th edn.
         Routledge.</cite> and <cite>Bhatt, Rajesh. 2003.
         <span class="book-title">Locality in Correlatives</span>. Natural
         Language &amp; Linguistic Theory.</cite>
      </li>
      <li> Bambara example provided by Lila Daskalaki. </li>
      <li> Consulted typological data on
         <a href="http://wals.info/languoid/lect/wals_code_hin">wals.info</a>. </li>
   </ul>
   <aside class="notes">

   </aside>
</section>
