<!-- this is the worst template ever. -->
<script id="tabletemplate" type="text/template">
    <table class="gl-table">
        <% var i, j, element, morpheme, group = 0; %>
        <tr class="gl-transliteration">
        <% for (i = 0; i < gloss.length; i++) { %>
            <% element = gloss[i]; %>
            <% if (element === '[') { %>
                <td class="gl-group gl-group-<%=(group++)%> gl-start">[</td>
            <% } else if (element === ']') { %>
                <td class="gl-group gl-group-<%=(group--)%> gl-end">]</td>
            <% } else { %>
            <td<% if (element.classes.length) { %> class="<%=(element.classes.join(' '))%>"<% } %>>
                    <%= element.text.join('') %>
                </td>
            <% } %>
        <% } %>
        </tr>
        <tr class="gl-gloss">
        <% for (i = 0; i < gloss.length; i++) { %>
            <% element = gloss[i]; %>
            <% if (element === '[') { %>
                <td class="gl-group gl-group-<%=(group++)%> gl-end">[</td>
            <% } else if (element === ']') { %>
                <td class="gl-group gl-group-<%=(group--)%> gl-end">]</td>
            <% } else { %>
            <td<%if(element.classes.length){ %> class="<%=(element.classes.join(' '))%>"<% } %>><%
                for(j = 0; j < element.gloss.length; j++) {
                    morpheme = element.gloss[j]; 
                    if (morpheme.abbr) {
                        p.push('<x-gloss>', morpheme.abbr, '</x-gloss>');
                    } else if (morpheme.literal) {
                        p.push(morpheme.literal);
                    } else { 
                        p.push(morpheme);
                    }
                } %></td>
            <% } %>
        <% } %>
        </tr>
    </table>
    <p class="translation"><%= translation %>
    <% if (literal) { %>
        <p class="literal translation">Lit: <%= literal %>
    <% } %>
    <p class="language-tag"><%= language %></p>
</script>
